<div class="row">
    <nav class="col-12 bg-primary">
       <h1 class="text-center">Menu</h1>
    </nav>
</div>

<div class="row my-1 ">
    <div class="col-md-6 col-sm-12  bg-secondary  ">
     <h2 class="text-center">IMAGE1</h2>
    </div>
    <div class="col-md-6 d-none d-md-block bg-secondary">
     <h2 class="text-center">IMAGE2</h2>
    </div>
    <div class="col-md-12 col-sm-12  bg-secondary">
     <h2 class="text-center">IMAGE3</h2>
    </div>
</div>


 <div class="row">
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
   <div class="col-md-3 col-sm-4 col-6 bg-success">
     <h2 class="text-center">ART</h2>
   </div>   
 </div>

 <div class="row">
   <footer class="col-12 text-center bg-danger"><h2>Footer</h2></footer>
</div>