  <!--CONTENIDO-->

  <div class="row">

    <!--Seccion Principal-->
    <div class="col-md-8 col-12">

   
      <div class="row">

           <!--TITULO-->
           <div class="col-12">
            <h2 class="text-center bg-primary col-12">Conversor de divisas</h2>
           </div>
    

            <!--Tabla-->
            <div class="table-responsive">

           
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">USD</th>
              <th scope="col">EUR</th>
              <th scope="col">GBP</th>
              <th scope="col">JPY</th>
              <th scope="col">CNY</th>
              <th scope="col">AUD</th>
              <th scope="col">BTC</th>
              <th scope="col">ARS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1 USD</th>
              <td>1.000000</td>
              <td>0.919901</td>
              <td>0.811469</td>
              <td>108.9079</td>
              <td>7.057569</td>
              <td>1.619886</td>
              <td>0.000140</td>
              <td>64.87725</td>
            </tr>
            <tr class="border-0">
            <th scope="row">Inverse</th>
              <td>1.000000</td>
              <td>1.087074</td>
              <td>1.232332</td>
              <td>0.009182</td>
              <td>0.141692</td>
              <td>0.617328</td>
              <td>7.148757</td>
              <td>0.015441</td>
            </tr>
            <tr>
              <th scope="row">1 EUR</th>
              <td>1.087074</td>
              <td>1.000000</td>
              <td>0.882127</td>
              <td>118.3910</td>
              <td>7.672100</td>
              <td>1.760936</td>
              <td>0.000152</td>
              <td>7052637</td>
            </tr>
            <tr class="border-0">
            <th scope="row">Inverse</th>
              <td>0.919901</td>
              <td>1.000000</td>
              <td>1.133623</td>
              <td>0.008447</td>
              <td>0.130342</td>
              <td>0.567880</td>
              <td>6576.146</td>
              <td>0.014179</td>
            </tr>
            <tr>
              <th scope="row">1 GBP</th>
              <td>1.232332</td>
              <td>1.133623</td>
              <td>1.000000</td>
              <td>134.2108</td>
              <td>8.697272</td>
              <td>1.996238</td>
              <td>0.000172</td>
              <td>79.95034</td>
            </tr>
            <tr class="border-0">
            <th scope="row">Inverse</th>
              <td>0.811469</td>
              <td>0.882127</td>
              <td>1.000000</td>
              <td>0.007451</td>
              <td>0.114979</td>
              <td>0.500942</td>
              <td>5800.997</td>
              <td>0.012508</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

     
    </div>



    
    <!--Formulario -->
    <div class="col-md-4 d-none d-md-block bg-body-tertiary">
      <h3>Conversor de Divisas</h3>
      <form>
        <div class="mb-3">
          <label for="cantidad" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="cantidad" placeholder="Cantidad">
        </div>
        <div class="mb-3">
          <label for="seleccion" class="form-label">De</label>
         <select class="form-control"name="moneda" id="moneda">
          <option value="usd">USD DOLARES EEUU</option>
          <option value="arg">ARS PESOS ARGENTINOS</option>
         </select>
        </div>
        <div class="mb-3">
          <label for="conversion" class="form-label">A</label>
         <select class="form-control" name="conversion" id="conversion">
          <option value="arg">ARG PESOS ARGENTINOS</option>
          <option value="usd">USD DOLARES EEUU</option>
         
         </select>

        </div>
        <div class="mb-3">
          <input type="number" class="form-control" id="resultado" placeholder="Resultado">
        </div>
        <button type="submit" class="btn btn-success">Convertir</button>
      </form>


    </div>
  </div>